<div class="news mt-30">
	<div class="newsletterblock">
		<div class="newsletter-form">
			<div class="page-title">
				<hNews</h3>
			</div>
			<div class="block-content">
				<div class="news-info">
					<div class="news-dec">
						<i class="fa fa-paper-plane"></i>
						<div class="title-text">Sign Up To Receive New Information</div>
						<div class="news-description">Sign up for our newsletters
							 now and stay updated on new collections and exclusive offers
							rights.</div>
					</div>
				</div>
				<!-- newsletter box -->
				<form name="frmnewsletter" id="frmnewsletter" th:action="@{/register}" method="get">
					<div class="subscribe-form">
						<button type="submit" class="subscribe-btn">Register</button>
					</div>
					<!-- newsletter notofication -->
					<div class="newsletter-message"></div>
					<!-- newsletter notofication -->
				</form>
				<!-- newsletter box -->
			</div>
		</div>
	</div>
</div>